<div class="text-center mt-5 mb-5">
    <a href="products/add" class="btn btn-info btn-lg">Add</a>
  </div>  

<table class="table table-hover">
    <thead style="background-color: #1b53ca">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Stock Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% if (products.length === 0) { %>
            <tr>
                <td colspan="4">No Data to Show</td>
            </tr>
        <% } else { %>
            <% for (let index = 0; index < products.length; index++) { %>
                <tr>
                    <td><%= products[index].name %></td>
                    <td><%= products[index].category %></td>
                    <td><%= products[index].countInStock %></td>
                    <td><%= products[index].price %></td>
                    <td>
                        <a href="/products/edit/<%= products[index]._id %>" class="btn btn-warning">Edit</a>
                        <a href="/products/delete/<%= products[index]._id %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            <% } %>
        <% } %>
    </tbody>
</table>
